/*----- CSS Reset ----- */
* {
    margin: 0;
    padding: 0;
}

/*----- Body ----- */
body {
    padding-top: 5px;
    padding-bottom: 50px;
    position: relative;
}

/*----- Icons -----*/
.icon-image {
    margin: 10px;
    min-height: 50px;
    max-height: 100px;
    filter: invert(1);
}

/*----- Section -----*/
section {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*----- Class Styles -----*/
.large-header-text {
    padding-bottom: 10px;
    color: black;
    font-size: 4rem;
    margin-left: 20px;
}

/*----- Navbar ----- */
.navbar {
}

.navbar .collapse {
    color: white;
    justify-content: center;
}

.nav-item {
    color: white;
    margin: 0 10px;
}

.active {

}

/*----- Showcase Video -----*/

.showcase {
    position: relative;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: 2;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    opacity: 1.00;
}

.showcase #headshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    opacity: 1.00;
}

.showcase .text {
    position: relative;
    z-index: 10;
}

.showcase .text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.showcase .text h3 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.showcase .text p {
    font-size: 1.1em;
    font-weight: 400;
    max-width: 700px;
    margin: 20px 0;
}

.showcase .text a {
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.showcase .text a:hover {
    display: inline-block;
    font-size: 1em;
    background: #1a5b38;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    text-transform: uppercase;
}

.showcase .social {
    position: absolute;
    bottom: 80px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase .social li {
    list-style: none;
}

.showcase .social li a {
    display: inline-block;
    margin-right: 20px;
    transition: 0.5s;
}

.showcase .social li a:hover {
    transform: translateY(-15px);
}

.showcase .social img {
    height: 40px;
    width: 40px;
    filter: invert(1);
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}