/* DEBUGGING ONLY
* {
    border: 1px solid black;
}
*/



.navbar-sd-relentless {
    background-color: #000141;
    color: white;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-sd-relentless .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgb(199, 179, 88)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-sd-relentless .navbar-toggler {
    border-color: #c7b358;
}

.navbar-sd-relentless li a{
    color: white;
}

.navbar-sd-relentless .nav-link {
    color: white;
}

.navbar-sd-relentless .active {
    color: #c7b358;
}

.card-header {
    background-color: #000141;
    color: white;
    justify-content: center;
}

.rounded-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.btn-sd-relentless {
    background-color: #c7b358;
}

.carousel .carousel-item {
    min-height: 750px;
    background-color: white;
}

.carousel-img {
    display: block;
    object-fit: cover;
    object-position: top;
    min-height: 750px;
    height: auto;
    width: 100%;
    margin: auto;
    opacity: .75;
}