/*----- CSS Reset ----- */
* {
    margin: 0;
    padding: 0;
}

/*----- Body ----- */
body {
    padding-top: 5px;
    padding-bottom: 50px;
    position: relative;
}

/*----- Navbar ----- */
.navbar {
    background-color: #ec6001;
}

.navbar .collapse {
    justify-content: center;
}

.nav-item {
    color: white;
}

.active {
    color: white;
    background-color: #1a5b38;
}

.navbar-toggler {
    color: #1a5b38;
    border-color: #1a5b38;
    border: none;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13,83,47,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#page-header {
    margin: 25px;
    text-align: center;
}

#page-subheader {
    margin: 35px;
}

/*----- Icons -----*/
.icon-image {
    margin: 10px;
    min-height: 50px;
    max-height: 100px;
    filter: invert(1);
}

.subtitle {
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
}

/*----- Home -----*/
#home {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*----- Showcase -----*/

.showcase {
    position: relative;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: 2;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    opacity: 1.00;
}

.showcase .text {
    position: relative;
    z-index: 10;
}

.showcase .text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.showcase .text h3 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.showcase .text p {
    font-size: 1.1em;
    font-weight: 400;
    max-width: 700px;
    margin: 20px 0;
}

.showcase .text a {
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.showcase .text a:hover {
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.showcase .social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase .social li {
    list-style: none;
}

.showcase .social li a {
    display: inline-block;
    margin-right: 20px;
    transition: 0.5s;
}

.showcase .social li a:hover {
    transform: translateY(-15px);
}

.showcase .social img {
    height: 40px;
    width: 40px;
    filter: invert(1);
    cursor: pointer;
}

/*----- About -----*/
#about {
    padding-top: 75px;
    padding-bottom: 75px;
}

#about .row {
    display: flex;
}

#about .small-header-text {
    padding-bottom: 10px;
    color: rgba(21, 84, 50, 1);
    font-size: 1.25rem;
}

#about .medium-header-text {
    padding-bottom: 10px;
    color: rgba(21, 84, 50, 1);
    font-size: 2.5rem;
    margin-left: 10px;
}

#about .large-header-text {
    padding-bottom: 10px;
    color: rgba(21, 84, 50, 1);
    font-size: 4rem;
    margin-left: 10px;
}

#about .card {
    padding: 15px;
    margin-bottom: 15px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(21, 84, 50, 1);
    color: white;
    border: none;
    height: 100%;
}

#about .card .card-body {
    justify-items: center;
    align-items: center;
}

#about .card .card-body .card-text{
    text-align: center;
}

.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6 {
    margin-bottom: 15px;
}

/*----- Meet The Doctor -----*/

#meet-the-doctor {
    padding-top: 75px;
    padding-bottom: 75px;
}

#meet-the-doctor .small-header-text {
    padding-bottom: 10px;
    color: black;
    font-size: 1.25rem;
}

#meet-the-doctor .medium-header-text {
    padding-bottom: 10px;
    color: black;
    font-size: 2.5rem;
    margin-left: 10px;
}

#meet-the-doctor .large-header-text {
    padding-bottom: 10px;
    color: black;
    font-size: 4rem;
    margin-left: 10px;
}

#meet-the-doctor .card-portrait {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#portrait-body-title {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    padding: 25px;
}

#img-portrait {
    max-width: 100%;
    height: auto;
}

#meet-the-doctor .card-about {
    border: none;
    background-color: white;
    color: black;
    padding: 15px;
    margin-bottom: 25px;
    text-align: left;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}